@media screen and (max-width: 319px) {
	
}
@media screen and (min-width: 320px) and (max-width: 1300px) {
	
	header .logo {
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		height: 30px;
	}

	.increase-conversion .left-wrap {
		/*width: 100%;
		padding: 144px 40px 38px;
		text-align: center;*/
		display: none;
	}
/*
	.increase-conversion .left-wrap img {
		float: none;
		margin-left: 0;
	}

	.increase-conversion .left-wrap img:nth-child(2) {
		display: none;
	}*/

	.increase-conversion .right-wrap {
		width: 100%;
		padding: 144px 40px 32px;
		text-align: center;
	}

	.increase-conversion .right-wrap h2 {
		margin: 0 auto;
		font-size: 26px;
	}

	.increase-conversion .right-wrap img {
	display: block;
	margin: 36px auto;
}

	.increase-conversion .right-wrap p {
		display: none;
	}

	.increase-conversion .right-wrap button,
	.principle-of-operation .left-wrap button,
.number-one .right-wrap button {
	display: block;
	width: 100%;
	min-height: 88px;
	margin: 0;
}/*

.increase-conversion .right-wrap button a,
.principle-of-operation .left-wrap button a,
.number-one .right-wrap button a {
	font-size: 30px;
	padding: 20px;
}*/

.principle-of-operation {
	padding: 144px 40px 32px;
	text-align: center;
}

.principle-of-operation .left-wrap {
	width: 100%;
	padding: 0;
}

.principle-of-operation .left-wrap .dali {
	display: block;
	position: absolute;
	top: 110px;
	right: 20px;
	height: 150px;
}

.principle-of-operation .left-wrap .street {
	margin: 120px 0 66px;
}

/*.principle-of-operation .left-wrap h2 {
	padding: 144px 40px;
}*/
/*
.principle-of-operation .left-wrap img {
	position: absolute;
}*/

.principle-of-operation .right-wrap {
	display: none;
}

.number-one {
	padding: 144px 40px 32px;
}

.number-one .left-wrap {
	padding: 0;
	width: 100%;
	text-align: center;
}

.number-one .left-wrap h2 {
	margin: 0 auto;
}

.number-one .left-wrap p {
	display: none;
}

.number-one .left-wrap a {
	display: none;
}

.number-one .right-wrap {
	/*display: none;*/
	padding: 0;
	width: 100%;
}

.number-one .right-wrap img {
	margin: 36px 0;
}

.number-one .right-wrap .image-wrap:before,
.number-one .right-wrap .image-wrap:after {
	display: none;
}

}