@font-face {
	font-family: 'RalewayExtraBold';
	src: url('../fonts/Raleway-ExtraBold.eot');
	src: url('../fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-ExtraBold.woff') format('woff'),
		url('../fonts/Raleway-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'RalewayMedium';
	src: url('../fonts/Raleway-Medium.eot');
	src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Medium.woff') format('woff'),
		url('../fonts/Raleway-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'RalewayMedium', Arial, serif;
	background-color: #F9F9F9;
	font-size: 16px;
	overflow-x: hidden;
}

.transparency {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: .5;
	display: none;
	z-index: 2;
}

.nav-menu {
	display: none;
	height: 100%;
	width: 70%;
	position: fixed;
	left: -70%;
	top: 0;
	background-color: #34AA9C;
	padding: 15px;
	z-index: 3;
	box-sizing: border-box;
}

.nav-menu ul {
	list-style: none;
	margin: 80px 20px;
}

.nav-menu ul li {
	font-family: 'RalewayExtraBold', Arial, serif;
	font-size: 20px;
	margin: 15px 10px;
}

.nav-menu ul li a {
	color: #D9E4DC;
	text-decoration: none;
}

.home {
	background-color: #8A8A8A;
	color: #383838;	
	min-width: 320px;
}

.home .home__wrap {
	margin: 0 auto;
	position: relative;
	width: 1030px;
}

.home .home__wrap-block {
	position: absolute;
	text-align: center;
	display: inline-block;
	top: 50%;
	left: 0;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.home .home__wrap-block h4 {
	font-weight: normal;
	font-size: 16px;
}

.home .home__wrap-block h1 {
	font-size: 54px;
	letter-spacing: 2px;
	font-family: 'RalewayExtraBold', Arial, sans-serif;
}

.home .home__wrap-block h3 {
	font-weight: normal;
	font-size: 15px;
	letter-spacing: .3px;
	display: inline-block;
	color: #fff;
	padding: 10px;
	background-color: #333;
	border-radius: 4px;
	margin-bottom: 30px;
}

.home .home__lines {
	width: 85px;
	padding: 2px;
	display: inline-block;
	border: 1px solid #fff;
	border-color: #fff transparent #fff transparent;
	margin-bottom: 3px;
}

.home h2, 
.what-we-offer h2, 
.amazing-features h2, 
.powerful-skills h2,
.sample-works h2,
.company-facts h2,
.team-members h2,
.price-tables h2 {
	display: inline-block;
	font-family: 'RalewayExtraBold', Arial, sans-serif;
	font-size: 26px;
}

.rhombuses-wrap_left {
	display: inline-block;
	margin-right: 15px;
	margin-left: 10px;
}

.rhombuses-wrap_right {
	display: inline-block;
	margin-left: 20px;
	margin-right: 5px;
}

.rhombus_one {
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: #00A99D;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	border-radius: 3px;
	opacity: .5;
	margin-bottom: 2px;
	margin-left: -5px;
}

.rhombus_two {
	display: inline-block;
	width: 11px;
	height: 11px;
	background-color: #00A99D;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	border-radius: 3px;
	opacity: .75;
	margin-left: -5px;
	margin-bottom: 1px;
}

.rhombus_three {
	display: inline-block;
	width: 14px;
	height: 14px;
	background-color: #00A99D;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	border-radius: 3px;
	margin-left: -5px;
}

.home span, 
.what-we-offer span, 
.amazing-features span, 
.powerful-skills span,
.sample-works span,
.company-facts span,
.team-members span,
.price-tables span {
	color: #00A99D;
}

.home .home__link-circle_outer {
	margin-top: 30px;
	display: inline-block;
	position: relative;
	height: 40px;
	width: 40px;
	background-color: #00A99D;
	border-radius: 50%;
	-webkit-transition: .5s;
	transition: .5s;
	cursor: pointer;
}

.home .home__link-circle_inner {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #8A8A8A;
}

.home .home__link-arrow {
	position: absolute;
	width: 10px;
	height: 10px;
	border: 3px solid #00A99D;
	top: 12%;
	left: 25%;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	border-left-color: transparent;
	border-top-color: transparent;
	-webkit-transition: .5s;
	transition: .5s;
}

.header {
	border-bottom: 1px solid #DEDEDE;
	padding: 20px 0;
	overflow: hidden;
	min-width: 320px;
}

.header .header__wrap {
	width: 1020px;
	margin: 0 auto;
	position: relative;
}

.header .logo {
	width: 130px;
	height: auto;
}

.header .loupe {
	margin: 10px 0 0 15px;
	float: right;
	cursor: pointer;
}

.header ul {
	padding-top: 5px;
	float: right;
	display: inline-block;
	list-style: none;
}

.header ul li {
	font-family: 'RalewayExtraBold', Arial, sans-serif;
	font-size: 12px;
	padding: 10px 15px;
	margin: 0 5px;
	display: inline-block;
	color: #606060;
	border-radius: 3px;
	-webkit-transition: .5s;
	transition: .5s;
}

.header ul li:hover {
	cursor: pointer;
	color: #E4E4E4;
	background-color: #00A99D;
}

.what-we-offer {
	padding: 50px 0;
	text-align: center;
	color: #383838;
	box-sizing: border-box;
	min-width: 320px;
}

.what-we-offer .lines-left,
.sample-works .lines-left,
.team-members .lines-left,
.price-tables .lines-left {
	position: relative;
	width: 305px;
	padding: 3px;
	display: inline-block;
	background: -webkit-linear-gradient(left, #DEDEDE, transparent);
	background: -o-linear-gradient(left, #DEDEDE, transparent);
	background: linear-gradient(to left, #DEDEDE, transparent);
	margin-bottom: 3px;
}

.what-we-offer .lines-left__block,
.sample-works .lines-left__block,
.team-members .lines-left__block,
.price-tables .lines-left__block {
	position: absolute;
	padding: 2px;
	width: 101%;
	background-color: #F9F9F9;
	top: 1px;
	left: -2px;
}

.what-we-offer .lines-right,
.sample-works .lines-right,
.team-members .lines-right,
.price-tables .lines-right {
	position: relative;
	width: 305px;
	padding: 3px;
	display: inline-block;
	background: -webkit-linear-gradient(right, #DEDEDE, transparent);
	background: -o-linear-gradient(right, #DEDEDE, transparent);
	background: linear-gradient(to right, #DEDEDE, transparent);
	margin-bottom: 3px;
}

.what-we-offer .lines-right__block,
.sample-works .lines-right__block,
.team-members .lines-right__block,
.price-tables .lines-right__block {
	position: absolute;
	padding: 2px;
	width: 100%;
	background-color: #F9F9F9;
	top: 1px;
	left: -1px;
}

.what-we-offer > p,
.sample-works > p,
.company-facts > p,
.team-members > p,
.price-tables > p {
	margin: 10px auto 40px;
	color: #8A8A8A;
	font-size: 16px;
	line-height: 1;
}

.what-we-offer .offers__wrap {
	text-align: center; 
	display: inline-block; 
	width: 320px; 
	cursor: pointer;
	margin: 10px 10px 20px;
}

.what-we-offer .offers__wrap-image {
	position: absolute; 
	left: 50%; 
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.what-we-offer .offers__wrap-circle {
	margin: 0 auto; 
	border-radius: 50%; 
	background-color: #383838; 
	position: relative; 
	width: 90px; 
	height: 90px; 
	-webkit-transition: .5s;
	transition: .5s;
}

.what-we-offer .offers__wrap-header {
	font-family: 'RalewayExtraBold', Arial, sans-serif;
	color: #606060; 
	margin-top: 20px; 
	font-size: 14px;
}

.what-we-offer .offers__wrap-content {
	margin: 20px auto;
	color: #8A8A8A;
	font-size: 14px;
	line-height: 1.6;
}

.what-we-offer .offers__wrap-button {
	padding: 10px; 
	font-weight: bold; 
	border-radius: 3px; 
	font-family: 'RalewayExtraBold', Arial, sans-serif;
	background-color: transparent; 
	border: 1px solid #DEDEDE; 
	color: #8A8A8A; 
	font-size: 10px; 
	outline: none;
	-webkit-transition: .5s;
	transition: .5s; 
	cursor: pointer;
}

.amazing-features {
	position: relative;
	background-color: #353535;
	color: #E4E4E4;
	padding: 70px 0;
	text-align: center;
	box-sizing: border-box;
	min-width: 320px;
}

.amazing-features > .rhombus_three, 
.powerful-skills > .rhombus_three,
.company-facts > .rhombus_three {
	width: 40px;
	height: 40px;
	position: absolute;
	top: -19px;
	left: 49%;
}

.amazing-features > .rhombus_three img {
	position: absolute;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 7px;
	left: 7px;
}

.amazing-features > p, .powerful-skills > p {
	margin: 10px auto 0;
	color: #5E5E5E;
	font-size: 16px;
}

.amazing-features > img {
	width: 600px;
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translate(-85px, 0);
	-moz-transform: translate(-85px, 0);
	transform: translate(-85px, 0);
}

.amazing-features__features {
	margin: 0 auto;
	width: 1020px;
}

.amazing-features__features ul {
	list-style: none;
	width: 335px;
	text-align: left;
	overflow: hidden;
}

.amazing-features__features ul li {
	margin-top: 70px;
	position: relative;
}

.amazing-features__features ul li div {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
}

.amazing-features__features ul li div img {
	float: left;
	width: 44px;
}

.amazing-features__features ul li h3 {
	font-size: 14px;
	margin-bottom: 15px;
	margin-left: 70px;
	font-family: 'RalewayExtraBold', Arial, sans-serif;
}

.amazing-features__features ul li p {
	margin-left: 70px;
	font-size: 14px;
	line-height: 1.6;
	overflow: hidden;
	color: #5E5E5E;
}

.more-features {
	min-height: 320px;
	min-width: 320px;
	padding: 50px 0;
	text-align: center;
	box-sizing: border-box;
}

.more-features .features__wrap {
	margin: 13px; 
	text-align: left; 
	display: inline-block; 
	width: 320px; 
	cursor: pointer;
}

.more-features .features__icon {
	margin: 0 15px 15px 0; 
	position: relative; 
	width: 40px; 
	float: left;
}

.more-features .features__icon-rectangle {
	margin: 0 auto; 
	border-radius: 3px; 
	background-color: #383838; 
	position: relative; 
	width: 40px; 
	height: 60px;
}

.more-features .features__icon-rectangle-image {
	position: absolute; 
	left: 50%; 
	top: 40%; 
	-webkit-transform: translate(-50%, -50%); 
	-moz-transform: translate(-50%, -50%); 
	transform: translate(-50%, -50%); 
	width: 25px;
	height: auto;
}

.more-features .features__header {
	color: #606060; 
	font-size: 14px; 
	font-family: 'RalewayExtraBold', Arial, sans-serif;
}

.more-features .features__underHeader {
	font-size: 12px; 
	color: #AAAAAA; 
	font-weight: normal; 
	margin-top: 5px;
}

.more-features .features__content {
	line-height: 1.5; 
	margin: 10px 0; 
	color: #7A7A7A; 
	font-size: 14px; 
	overflow: hidden;
}

.powerful-skills, .company-facts {
	position: relative;
	min-height: 320px;
	background-color: #383838;
	color: #E4E4E4;
	padding: 70px 0 0;
	min-width: 320px;
	text-align: center;
}

.powerful-skills > .rhombus_three img,
.company-facts > .rhombus_three img {
	position: absolute;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 8px;
	left: 5px;
}

.powerful-skills .skills__wrap {
	position: relative; 
	display: inline-block; 
	margin: 50px 35px 25px;
}

.powerful-skills .skills__wrap-circle {
	position: relative;
	height: 100px;
	width: 100px;
	border: 3px solid #EBEBEB;
	border-radius: 50%;
	margin: 0 auto;
}

.powerful-skills .skills__wrap-canvas {
	position: absolute;
	top: -25px;
	left: -98px;
	width: 295px;
	height: 150px;
}

.powerful-skills .skills__wrap-percents {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 26px;
	font-family: 'RalewayExtraBold', Arial, sans-serif;
}

.powerful-skills .skills__wrap-name {
	font-size: 14px;
	font-family: 'RalewayExtraBold', Arial, sans-serif;
	color: #8A8A8A;
	position: absolute;
	top: 120px;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.sample-works {
	padding: 50px 0;
	text-align: center;
	color: #383838;
	box-sizing: border-box;
	min-width: 320px;
}

.sample-works .works {
	max-width: 1200px;
	margin: 0 auto;
}

.sample-works .works__wrap {
	position: relative; 
	cursor: pointer; 
	box-sizing: border-box; 
	color: #E4E4E4; 
	display: inline-block; 
	margin: 1px; 
	width: 290px; 
	height: 220px; 
	border-radius: 5px; 
	text-align: center; 
	background-color: #1CA399;
}

.sample-works .works__wrap .images-wrap {
	position: relative; 
	box-sizing: border-box; 
	display: inline-block; 
	margin: 40px 0 25px;
}

.sample-works .works__wrap .images-wrap__rhombus_one {
	display: inline-block; 
	position: relative; 
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg); 
	height: 25px; 
	width: 25px; 
	border-radius: 5px; 
	background-color: #E4E4E4;
}

.sample-works .works__wrap .images-wrap__rhombus_two {
	display: inline-block; 
	position: relative; 
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg); 
	height: 25px; 
	width: 25px; 
	border-radius: 5px; 
	background-color: #383838;
}

.sample-works .works__wrap .images-wrap__rhombus_one-image,
.sample-works .works__wrap .images-wrap__rhombus_two-image {
	position: absolute;
	top: 1px;
	left: 1px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.sample-works .works__wrap-name {
	margin-bottom: 5px; 
	font-size: 16px; 
	font-family: 'RalewayExtraBold', Arial, sans-serif;
}

.sample-works .works__wrap-underName {
	font-size: 12px; 
	font-weight: normal;
}

.sample-works .works__wrap .likes-wrap {
	position: relative; 
	display: inline-block; 
	margin-top: 10px;
	margin-left: 17px;
}

.sample-works .works__wrap .likes-wrap-image {
	position: absolute; 
	left: -22px;
}

.sample-works .works__wrap .likes-wrap-likes {
	display: inline-block;
	color: #E4E4E4;
	font-size: 12px;
}

.sample-works .works__wrap-overWrap {
	cursor: pointer; 
	position: absolute;
	top: 0; 
	left: 0; 
	display: inline-block; 
	width: 290px; 
	height: 220px; 
	border-radius: 5px; 
	background-color: #8A8A8A;
}

.sample-works .sample-works__button {
	cursor: pointer;
	font-family: 'RalewayExtraBold', Arial, sans-serif;
	margin-top: 20px;
	padding: 10px;
	width: 1000px;
	font-size: 13px;
	color: #E4E4E4;
	background-color: #00A99D;
	border: 0;
	border-radius: 5px;
	outline: none;
}

.company-facts .facts__wrap {
	margin: 0 10px; 
	text-align: center; 
	cursor: pointer; 
	display: inline-block;
}

.company-facts .facts__wrap-number {
	font-family: 'RalewayMedium', Arial, sans-serif; 
	font-size: 80px; 
	color: #E4E4E4; 
	font-weight: normal; 
	font-style: italic;
}

.company-facts .facts__wrap-rhombus_left {
	margin: 0 20px 15px 0; 
	display: inline-block; 
	width: 10px; 
	height: 10px; 
	border-radius: 2px; 
	background-color: #484848; 
	-webkit-transition: .5s;
	transition: .5s; 
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.company-facts .facts__wrap-rhombus_right {
	margin: 0 0 15px 20px; 
	display: inline-block; 
	width: 10px; 
	height: 10px; 
	border-radius: 2px; 
	background-color: #484848; 
	-webkit-transition: .5s;
	transition: .5s; 
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.company-facts .facts__wrap-line_left {
	margin: 0 5px 10px 0; 
	width: 100px; 
	display: inline-block; 
	border: 1px solid #484848; 
	border-color: #484848 transparent transparent transparent;
}

.company-facts .facts__wrap-line_right {
	margin: 0 0 10px 5px; 
	width: 100px; 
	display: inline-block; 
	border: 1px solid #484848; 
	border-color: #484848 transparent transparent transparent;
}

.company-facts .facts__wrap-name {
	margin: 5px auto 0; 
	color: #606060; 
	font-size: 14px;
	font-family: 'RalewayExtraBold', Arial, sans-serif;
}

.purchase {
	min-height: 80px;
	background-color: #00A99D;
	overflow: hidden;
	min-width: 320px;
}

.purchase .purchase__wrap {
	width: 1010px;
	margin: 0 auto;
}

.purchase .purchase__wrap p {
	font-size: 16px;
	color: #E4E4E4;
	display: inline-block;
	font-family: 'RalewayExtraBold', Arial, sans-serif;
	margin-top: 33px;
}

.purchase .purchase__wrap button {
	cursor: pointer;
	font-family: 'RalewayExtraBold', Arial, sans-serif;
	font-size: 13px;
	border: 0;
	outline: none;
	padding: 12px 15px;
	margin: 20px 0 0 10px;
	border-radius: 4px;
	float: right;
	background-color: #E4E4E4;
	color: #606060;
}

.team-members {
	position: relative;
	color: #383838;
	padding: 40px 0;
	text-align: center;
	box-sizing: border-box;
	min-width: 320px;
}

.team-members .team-members__arrow_left {
	display: inline-block;
	position: relative;
	bottom: -10px;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	background-color: #383838;
	border: 0;
	outline: none;
	cursor: pointer;
	-webkit-transition: .5s;
	transition: .5s;
}

.team-members .team-members__arrow_left:hover {
	background-color: #00A99D;
}

.team-members .team-members__arrow_left-arrow {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-80%, -50%);
	-moz-transform: translate(-80%, -50%);
	transform: translate(-80%, -50%);
	border: 8px solid #E4E4E4;
	border-color: transparent #E4E4E4 transparent transparent;
}

.team-members .team-members__arrow_right {
	display: inline-block;
	position: relative;
	bottom: -10px;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	background-color: #383838;
	border: 0;
	outline: none;
	cursor: pointer;
	-webkit-transition: .5s;
	transition: .5s;
}

.team-members .team-members__arrow_right:hover {
	background-color: #00A99D;
}

.team-members .team-members__arrow_right-arrow {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-20%, -50%);
	-moz-transform: translate(-20%, -50%);
	transform: translate(-20%, -50%);
	border: 8px solid #E4E4E4;
	border-color: transparent transparent transparent #E4E4E4;
}

.team-members .members__wrap {
	position: relative; 
	display: inline-block; 
	margin: 10px 10px 0;
}

.team-members .members__wrap-overWrap {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 240px; 
	height: 240px; 
	border-radius: 4px 4px 0 0; 
	background-color: #8A8A8A;
}

.team-members .members__wrap-imagesWrap {
	width: 240px; 
	height: 240px; 
	border-radius: 4px 4px 0 0; 
	position: relative; 
	background-color: #00A99D;
}

.team-members .members__wrap-imagesWrap-images {
	white-space: nowrap;
	position: absolute; 
	top: 50%; 
	left: 50%; 
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.team-members .members__wrap-imagesWrap-images a {
	position: relative;
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 3px;
	background-color: #E4E4E4;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	z-index: 1;
}

.team-members .members__wrap-imagesWrap-images img {
	position: absolute;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	border: 0;
}

.team-members .members__wrap-name {
	position: absolute;
	font-family: 'RalewayExtraBold', Arial, sans-serif;
	left: 50%;
	top: 220px;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	padding: 10px;
	background-color: #00A99D;
	color: #E4E4E4;
	font-size: 13px;
	border-radius: 4px;
	width: 120px;
}

.team-members .members__wrap-info {
	border: 1px solid #DEDEDE;
	border-top: none;
	border-radius: 0 0 4px 4px;
	box-sizing: border-box;
	padding: 30px 0;
}

.team-members .members__wrap-info .position {
	font-size: 12px;
	color: #606060;
	border-bottom: 1px solid #EBEBEB;
	display: inline-block;
	padding-bottom: 20px;
	margin: 0 0 10px;
}

.team-members .members__wrap-info .mailWrap,
.team-members .members__wrap-info .phoneWrap {
	margin: 10px 0 0 0;
}

.team-members .members__wrap-info .mailWrap__iconMailWrap,
.team-members .members__wrap-info .phoneWrap__iconPhoneWrap {
	position: relative;
	display: inline-block;
}

.team-members .members__wrap-info .mailWrap__iconMailWrap-iconMail,
.team-members .members__wrap-info .phoneWrap__iconPhoneWrap-iconPhone {
	position: absolute;
	left: -5px;
	top: -12px;
}

.team-members .members__wrap-info .mailWrap__mail,
.team-members .members__wrap-info .phoneWrap__phone {
	display: inline-block;
	margin: 0 0 0 30px;
	color: #AAA;
	font-size: 12px;
}

.quotes {
	min-height: 310px;
	background-color: #00A99D;
	color: #E4E4E4;
	text-align: center;
	padding: 70px 0 50px;
	box-sizing: border-box;
	position: relative;
	min-width: 320px;
}

.quotes > .rhombus_three {
	width: 40px;
	height: 40px;
	position: absolute;
	top: -19px;
	left: 49%;
	background-color: #383838;
}

.quotes > .rhombus_three img {
	position: absolute;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 12px;
	left: 10px;
}

.quotes .quotes-list__wrap-name {
	font-family: 'RalewayExtraBold', Arial, sans-serif;
	color: #00A99D;
	font-size: 13px;
	padding: 12px;
	background-color: #E4E4E4;
	border-radius: 4px;
	width: 240px;
	margin: 0 auto;
}

.quotes .quotes-list__wrap-name-position {
	color: #AAA;
	font-style: italic;	
	font-family: 'RalewayMedium', Arial, sans-serif;
}

.quotes .quotes-list__wrap-comment {
	font-size: 20px;
	margin: 30px auto 20px;
	line-height: 1.8;
	height: 100px;
	width: 1010px;
}

.quotes .quotes__arrow_left {
	display: inline-block;
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	background-color: #E4E4E4;
	border: 0;
	outline: none;
	cursor: pointer;
	-webkit-transition: .5s;
	transition: .5s;
}

.quotes .quotes__arrow_left:hover {
	background-color: #383838;
}

.quotes .quotes__arrow_left-arrow {
	-webkit-transition: .5s;
	transition: .5s;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-80%, -50%);
	-moz-transform: translate(-80%, -50%);
	transform: translate(-80%, -50%);
	border: 8px solid #00A99D;
	border-color: transparent #00A99D transparent transparent;
}

.quotes .quotes__arrow_left:hover .quotes__arrow_left-arrow {
	border-color: transparent #E4E4E4 transparent transparent;
}

.quotes .quotes__arrow_right {
	display: inline-block;
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	background-color: #E4E4E4;
	border: 0;
	outline: none;
	cursor: pointer;
	-webkit-transition: .5s;
	transition: .5s;
}

.quotes .quotes__arrow_right:hover {
	background-color: #383838;
}

.quotes .quotes__arrow_right-arrow {
	-webkit-transition: .5s;
	transition: .5s;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-20%, -50%);
	-moz-transform: translate(-20%, -50%);
	transform: translate(-20%, -50%);
	border: 8px solid #00A99D;
	border-color: transparent transparent transparent #00A99D;
}

.quotes .quotes__arrow_right:hover .quotes__arrow_right-arrow {
	border-color: transparent transparent transparent #E4E4E4;
}

.clients {
	min-height: 230px;
	background-color: #383838;
	text-align: center;
	box-sizing: border-box;
	position: relative;
	min-width: 320px;
}

.clients .clients-list {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 1040px;
}

.clients .clients__arrow_left {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-560px, -50%);
	-moz-transform: translate(-560px, -50%);
	transform: translate(-560px, -50%);
	width: 30px;
	height: 30px;
	border-radius: 4px;
	background-color: #E4E4E4;
	border: 0;
	outline: none;
	cursor: pointer;
	-webkit-transition: .5s;
	transition: .5s;
}

.clients .clients__arrow_left:hover {
	background-color: #00A99D;
}

.clients .clients__arrow_left .clients__arrow_left-arrow {
	position: absolute;
	-webkit-transition: .5s;
	transition: .5s;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-80%, -50%);
	-moz-transform: translate(-80%, -50%);
	transform: translate(-80%, -50%);
	border: 8px solid #00A99D;
	border-color: transparent #00A99D transparent transparent;
}

.clients .clients__arrow_left:hover .clients__arrow_left-arrow {
	border-color: transparent #E4E4E4 transparent transparent;
}

.clients .clients__arrow_right {
	display: inline-block;
	position: absolute;
	right: 50%;
	top: 50%;
	-webkit-transform: translate(560px, -50%);
	-moz-transform: translate(560px, -50%);
	transform: translate(560px, -50%);
	width: 30px;
	height: 30px;
	border-radius: 4px;
	background-color: #E4E4E4;
	border: 0;
	outline: none;
	cursor: pointer;
	-webkit-transition: .5s;
	transition: .5s;
}

.clients .clients__arrow_right:hover {
	background-color: #00A99D;
}

.clients .clients__arrow_right .clients__arrow_right-arrow {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transition: .5s;
	transition: .5s;
	-webkit-transform: translate(-20%, -50%);
	-moz-transform: translate(-20%, -50%);
	transform: translate(-20%, -50%);
	border: 8px solid #00A99D;
	border-color: transparent transparent transparent #00A99D;
}

.clients .clients__arrow_right:hover .clients__arrow_right-arrow {
	border-color: transparent transparent transparent #E4E4E4;
}

.clients .clients-list__wrap {
	margin: 0 10px; 
	display: inline-block; 
	position: relative; 
	height: 130px; 
	width: 240px; 
	background-color: #333333; 
	border-radius: 5px; 
	cursor: pointer;
}

.clients .clients-list__wrap-image {
	max-height: 87px; 
	width: auto; 
	position: absolute; 
	left: 50%; 
	top: 50%; 
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.clients .clients-list__wrap-transparency {
	-webkit-transition: .5s;
	transition: .5s; 
	opacity: .7; 
	position: absolute; 
	left: 0; 
	top: 0; 
	width: 240px; 
	height: 130px; 
	border-radius: 5px; 
	background-color: #383838;
}

.price-tables {
	text-align: center;
	padding: 35px 0;
	box-sizing: border-box;
	min-width: 320px;
}

.price-tables .prices__wrap {
	width: 240px; 
	margin: 30px 10px 15px; 
	text-align: center; 
	box-sizing: border-box; 
	position: relative; 
	display: inline-block; 
	padding: 20px 20px 30px; 
	border: 1px solid #DEDEDE; 
	border-radius: 3px;
}

.price-tables .prices__wrap-plan {
	-webkit-transition: .5s;
	transition: .5s; 
	white-space: nowrap; 
	font-size: 13px; 
	font-family: 'RalewayExtraBold', Arial, sans-serif;
	padding: 15px; 
	border-radius: 4px; 
	color: #E4E4E4; 
	background-color: #383838; 
	position: absolute; 
	left: 50%; 
	top: 0; 
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.price-tables .prices__wrap-dollars {
	font-size: 12px; 
	position: relative; 
	margin: 10px 0 20px; 
	color: #8A8A8A;
}

.price-tables .prices__wrap-dollars-icon {
	color: #8A8A8A;
	font-size: 16px;
}

.price-tables .prices__wrap-dollars-wholePart {
	font-size: 60px; 
	font-family: 'RalewayExtraBold', Arial, sans-serif; 
	color: #383838;
	position: relative;
	padding: 0 5px;
	bottom: -10px;
}

.price-tables .prices__wrap-dollars-fraction {
	position: absolute; 
	top: 10px;
	font-size: 16px; 
	color: #383838; 
	font-family: 'RalewayExtraBold', Arial, sans-serif;
}

.price-tables .prices__wrap-dollars-rhombus {
	display: inline-block; 
	width: 10px; 
	height: 10px; 
	margin-right: 5px;
	border-radius: 2px; 
	background-color: #383838; 
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.price-tables .prices__wrap-list {
	padding: 15px 0;
	margin-bottom: 25px;
	list-style: none; 
	border: 1px solid #EBEBEB; 
	border-color: #EBEBEB transparent;
}

.price-tables .prices__wrap-list li {
	font-size: 14px;
	color: #9B9B9B;
	padding: 10px 0;
}

.price-tables .prices__wrap-button {
	font-family: 'RalewayExtraBold', Arial, sans-serif;
	font-size: 13px;
	cursor: pointer; 
	color: #E4E4E4; 
	padding: 12px 15px; 
	box-sizing: border-box; 
	border-radius: 4px; 
	border: 0; 
	outline: none; 
	background-color: #00A99D;
}

.bubble {
	height: 170px;
	background-color: #8A8A8A;
	min-width: 320px;
}

.bubble .bubble__wrap {
	position: relative;
	height: 170px;
	width: 1020px;
	margin: 0 auto;
}

.bubble .bubble__wrap p {
	position: absolute;
	font-size: 26px;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	transform: translate(0, -50%);
	font-family: 'RalewayExtraBold', Arial, sans-serif;
	color: #383838;
}

.bubble .bubble__wrap a {
	text-decoration: none;
	padding: 12px;
	color: #E4E4E4;
	border-radius: 5px;
	background-color: #00A99D;
	position: absolute;
	font-size: 12px;
	font-family: 'RalewayExtraBold', Arial, sans-serif;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	transform: translate(0, -50%);
	right: 0;
	cursor: pointer;
	border: 0;
	outline: none;
	width: 150px;
}

.bubble .bubble__wrap a img {
	float: right;
	margin-top: -4px;
	border: 0;
}

.footer {
	text-align: center;
	padding: 40px 0 30px;
	background-color: #353535;
	min-width: 320px;
}

.footer ul {
	list-style: none;
	margin: 50px auto 70px;
}

.footer ul li {
	display: inline-block;
}

.footer ul li a {
	display: inline-block;
	margin: 3px;
	border: 2px solid #606060;
	height: 40px;
	width: 40px;
	border-radius: 5px;
	position: relative;
	-webkit-transition: .5s;
	transition: .5s;
}

.footer ul li a:hover {
	border-color: #00A99D;
	background-color: #00A99D;
}

.footer ul li a img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border: 0;
}

.footer .geolocation {
	height: 500px;
	background-color: #E4E4E4;
	position: relative;
}

.footer #geolocation__map {
	position: absolute;
	left: 0;
	top: 0;
  width: 100%;
  height: 100%;
}

.footer .geolocation form {
	position: absolute;
	top: 50%;
	left: 7.5%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	transform: translate(0, -50%);
	width: 385px;
	height: 320px;
	background-color: #F9F9F9;
	border: 1px solid #DEDEDE;
	border-radius: 5px;
	padding: 17px;
	box-sizing: border-box;
}

.footer .geolocation form input,
.footer .geolocation form textarea {
	width: 100%;
	border: 1px solid #DEDEDE;
	padding: 12px 15px;
	outline: none;
	box-sizing: border-box;
	background-color: transparent;
	border-radius: 5px;
	margin-bottom: 17px;
	font-style: italic;
	color: #AAA;
	font-size: 12px;
	font-family: 'RalewayMedium', Arial, sans-serif;
}

.footer .geolocation form input:focus,
.footer .geolocation form textarea:focus {
	border-color: #CECECE;
	color: #8A8A8A;
}

.footer .geolocation form textarea {
	resize: none;
	height: 110px;
	margin-bottom: 15px;
}

.footer .geolocation form input[type="submit"] {
	font-style: normal;
	font-family: 'RalewayExtraBold', Arial, sans-serif;
	color: #E4E4E4;
	font-size: 13px;
	background-color: #00A99D;
	cursor: pointer;
}

::-webkit-input-placeholder {color:#AAA;}
::-moz-placeholder          {color:#AAA;}

.footer .geolocation__upArrowWrap {
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 40px;
	width: 40px;
	-webkit-transform: translate(-50%, 50%);
	-moz-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
}

.footer .geolocation__upArrowWrap-upArrow {
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 5px;
	background-color: #00A99D;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	cursor: pointer;
}

.footer .geolocation__upArrowWrap-upArrow-arrow {
	position: absolute;
	top: 30%;
	left: 30%;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);	
	border: 6px solid #E4E4E4;
	border-color: transparent #E4E4E4 transparent transparent;
}

.footer .geolocation__mailIcon {
	position: absolute; 
	left: 5px; 
	top: 50px; 
	cursor: pointer;
}

.footer > p {
	color: #CCCCCC;
	margin-top: 50px;
	font-family: 'RalewayExtraBold', Arial, sans-serif;
	font-size: 14px;
}
